cifar10/data/cifar-10-python.tar.gz
cifar10/data/cifar-10-batches-py/batches.meta
cifar10/data/cifar-10-batches-py/data_batch_1
cifar10/data/cifar-10-batches-py/data_batch_2
cifar10/data/cifar-10-batches-py/data_batch_3
cifar10/data/cifar-10-batches-py/data_batch_4
cifar10/data/cifar-10-batches-py/data_batch_5
cifar10/data/cifar-10-batches-py/readme.html
cifar10/data/cifar-10-batches-py/test_batch
cifar10/data/partition/all_test_data.npy
cifar10/data/partition/all_test_label.npy
cifar10/data/partition/te_data.npy
cifar10/data/partition/te_label.npy
cifar10/data/partition/tr_data.npy
cifar10/data/partition/tr_label.npy
cifar10/data/partition/train_data.npy
cifar10/data/partition/train_label.npy
cifar10/diff_defense/diff_models/256x256_diffusion_uncond.pt
cifar10/diff_defense/diff_models/full.pt
cifar10/diff_defense/diff_models/full.txt
cifar10/diff_defense/diff_models/half.pt
cifar10/diff_defense/diff_models/half.txt
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_2.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_3.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_4.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_5.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_6.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_7.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_8.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_9.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/logit_dist_0_1.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/logits_for_memguard_diff0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_2.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_3.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_4.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_5.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_6.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_7.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_8.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_9.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/logit_dist_1_1.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/logit_dist.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/logits_for_memguard_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_2.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_3.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_4.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_5.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_6.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_7.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_8.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_9.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/logit_dist_0_1.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/logits_for_memguard_diff0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_2.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_3.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_4.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_5.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_6.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_7.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_8.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_9.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/logit_dist_1_1.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/logit_dist.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/logits_for_memguard_1.npz
