cifar10/data/
cifar10/slurm_evaluate_MIAs/data/
cifar10/diff_defense/diff_ckpt/
cifar10/diff_defense/diff_models/
cifar10/final-all-models/
cifar10/label-only-attacks/trained_models/
cifar100/data/
cifar100/final-all-models/
cifar100/label-only-attacks/
cifar100/slurm_evaluate_MIAs/data/
cifar100/slurm_evaluate_MIAs/results/
cifar100/diff_defense/diff_ckpt/
cifar100/diff_defense/diff_models/
cifar100/slurm_evaluate_MIAs/data/
cifar100/training_log/
cifar100/slurm_evaluate_MIAs/results/
svhn/data/
svhn/final-all-models/
svhn/slurm_evaluate_MIAs/data/
svhn/training_log/
svhn/slurm_evaluate_MIAs/results/
svhn/diff_defense/diff_models/
svhn/diff_defense/diff_ckpt/
cifar10/evaluate_MIAs/memguard/memguard_diff0_undefended/keras_metadata.pb
cifar10/evaluate_MIAs/memguard/memguard_diff0_undefended/saved_model.pb
cifar10/evaluate_MIAs/memguard/memguard_diff0_undefended/variables/variables.data-00000-of-00001
cifar10/evaluate_MIAs/memguard/memguard_diff0_undefended/variables/variables.index
cifar10/evaluate_MIAs/memguard/memguard_diff0_undefended.npz
cifar10/evaluate_MIAs/results/
cifar10/slurm_evaluate_MIAs/data/
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661460.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661461.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661462.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661463.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661464.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661465.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661466.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661467.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661468.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661469.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661477.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661478.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661479.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661480.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661481.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/slurm-23661482.out
cifar10/slurm_evaluate_MIAs/configs/sbatch/
cifar10/slurm_evaluate_MIAs/results/
cifar100/evaluate_MIAs/results/
cifar100/slurm_evaluate_MIAs/configs/sbatch/
results/
svhn/slurm_evaluate_MIAs/configs/sbatch/
report.py
test_all.sh
.gitignore
cifar10/training_log/
celeba/
slurm_test_all.sh
colormaps/
results_Old/
scatter_plots/
utkface/
best_settings/
results_comprehensive_but_some_err/
results_sweep
cifar10/final-all-models copy
stats_scripts
svhn/lira*
svhn/shadow*
svhn/training_log
svhn/log
svhn/note
cifar10/configs/densent121/
cifar10/configs/vgg16/
cifar10/configs/ViT/
cifar10/evaluate_MIAs/data/
svhn/slurm_evaluate_MIAs/memguard/
cifar10/label-only-attacks/
cifar10/slurm_evaluate_MIAs/
cifar100/evaluate_MIAs/data/
cifar100/slurm_evaluate_MIAs/
svhn/evaluate_MIAs/data/
svhn/slurm_evaluate_MIAs/
cifar10/label-only*
