cifar10/data/cifar-10-python.tar.gz
cifar10/data/cifar-10-batches-py/batches.meta
cifar10/data/cifar-10-batches-py/data_batch_1
cifar10/data/cifar-10-batches-py/data_batch_2
cifar10/data/cifar-10-batches-py/data_batch_3
cifar10/data/cifar-10-batches-py/data_batch_4
cifar10/data/cifar-10-batches-py/data_batch_5
cifar10/data/cifar-10-batches-py/readme.html
cifar10/data/cifar-10-batches-py/test_batch
cifar10/data/partition/all_test_data.npy
cifar10/data/partition/all_test_label.npy
cifar10/data/partition/te_data.npy
cifar10/data/partition/te_label.npy
cifar10/data/partition/tr_data.npy
cifar10/data/partition/tr_label.npy
cifar10/data/partition/train_data.npy
cifar10/data/partition/train_label.npy
cifar10/diff_defense/diff_models/256x256_diffusion_uncond.pt
cifar10/diff_defense/diff_models/full.pt
cifar10/diff_defense/diff_models/full.txt
cifar10/diff_defense/diff_models/half.pt
cifar10/diff_defense/diff_models/half.txt
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_2.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_3.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_4.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_5.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_6.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_7.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_8.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_9.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/logit_dist_0_1.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/logits_for_memguard_diff0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_2.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_3.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_4.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_5.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_6.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_7.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_8.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_9.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/logit_dist_1_1.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/logit_dist.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/logits_for_memguard_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_2.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_3.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_4.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_5.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_6.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_7.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_8.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_9.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/logit_dist_0_1.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/logits_for_memguard_diff0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_0.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_1.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_2.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_3.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_4.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_5.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_6.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_7.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_8.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_9.npz
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/logit_dist_1_1.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/logit_dist.png
cifar10/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/logits_for_memguard_1.npz
cifar10/final-all-models/resnet/advreg.pth.tar
cifar10/final-all-models/resnet/dmp.pth.tar
cifar10/final-all-models/resnet/dpsgd.pth.tar
cifar10/final-all-models/resnet/hamp.pth.tar
cifar10/final-all-models/resnet/relaxloss.pth.tar
cifar10/final-all-models/resnet/selena.pth.tar
cifar10/final-all-models/resnet/undefended.pth.tar
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_0.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_1.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_2.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_3.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_4.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_5.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_6.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_7.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_8.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_9.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_10.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_11.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_12.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_13.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_14.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_15.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_16.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_17.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_18.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_19.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_20.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_21.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_22.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_23.pkl
cifar10/final-all-models/resnet/selena/cifar_selena_submodel_indices_25000_24.pkl
cifar10/final-all-models/resnet/selena/non_model_indices_for_each_sample_25000.pkl
cifar10/final-all-models/resnet/selena/selena-trainSize-25000.pth.tar
cifar10/label-only-attacks/trained_models/1_1_-1.pt
cifar10/label-only-attacks/trained_models11/0_0_0.pt
cifar10/label-only-attacks/trained_models11/0_1_-1.pt
cifar100/data/cifar-100-python.tar.gz
cifar100/data/cifar-100-python/file.txt~
cifar100/data/cifar-100-python/meta
cifar100/data/cifar-100-python/test
cifar100/data/cifar-100-python/train
cifar100/data/partition/all_test_data.npy
cifar100/data/partition/all_test_label.npy
cifar100/data/partition/te_data.npy
cifar100/data/partition/te_label.npy
cifar100/data/partition/tr_data.npy
cifar100/data/partition/tr_label.npy
cifar100/data/partition/train_data.npy
cifar100/data/partition/train_label.npy
cifar100/final-all-models/resnet/advreg.pth.tar
cifar100/final-all-models/resnet/dpsgd.pth.tar
cifar100/final-all-models/resnet/hamp.pth.tar
cifar100/final-all-models/resnet/relaxloss.pth.tar
cifar100/final-all-models/resnet/selena.pth.tar
cifar100/final-all-models/resnet/undefended.pth.tar
cifar100/label-only-attacks/.DS_Store
cifar100/label-only-attacks/1
cifar100/label-only-attacks/2
cifar100/label-only-attacks/adam.yml
cifar100/label-only-attacks/attack.py
cifar100/label-only-attacks/classifier.py
cifar100/label-only-attacks/command
cifar100/label-only-attacks/deeplearning.py
cifar100/label-only-attacks/dist_attackTwo.py
cifar100/label-only-attacks/dist_attackTwo.sh
cifar100/label-only-attacks/dm_utils.py
cifar100/label-only-attacks/gaussian
cifar100/label-only-attacks/label_only.py
cifar100/label-only-attacks/other_label_only.npy
cifar100/label-only-attacks/pre_rec.png
cifar100/label-only-attacks/README.md
cifar100/label-only-attacks/time
cifar100/label-only-attacks/time2
cifar100/label-only-attacks/QEBA/__init__.py
cifar100/label-only-attacks/QEBA/adversarial.py
cifar100/label-only-attacks/QEBA/batching.py
cifar100/label-only-attacks/QEBA/criteria.py
cifar100/label-only-attacks/QEBA/distances.py
cifar100/label-only-attacks/QEBA/gradient_estimators.py
cifar100/label-only-attacks/QEBA/rngs.py
cifar100/label-only-attacks/QEBA/utils.py
cifar100/label-only-attacks/QEBA/VERSION
cifar100/label-only-attacks/QEBA/yielding_adversarial.py
cifar100/label-only-attacks/QEBA/attacks/__init__.py
cifar100/label-only-attacks/QEBA/attacks/additive_noise.py
cifar100/label-only-attacks/QEBA/attacks/adef_attack.py
cifar100/label-only-attacks/QEBA/attacks/bapp_custom.py
cifar100/label-only-attacks/QEBA/attacks/bapp_messy.py
cifar100/label-only-attacks/QEBA/attacks/bapp_physical.py
cifar100/label-only-attacks/QEBA/attacks/bapp.py
cifar100/label-only-attacks/QEBA/attacks/base.py
cifar100/label-only-attacks/QEBA/attacks/binarization.py
cifar100/label-only-attacks/QEBA/attacks/blended_noise.py
cifar100/label-only-attacks/QEBA/attacks/blur.py
cifar100/label-only-attacks/QEBA/attacks/boundary_attack.py
cifar100/label-only-attacks/QEBA/attacks/carlini_wagner.py
cifar100/label-only-attacks/QEBA/attacks/contrast.py
cifar100/label-only-attacks/QEBA/attacks/decoupled_direction_norm.py
cifar100/label-only-attacks/QEBA/attacks/deepfool.py
cifar100/label-only-attacks/QEBA/attacks/gaussian.py
cifar100/label-only-attacks/QEBA/attacks/gradient.py
cifar100/label-only-attacks/QEBA/attacks/iterative_gradient.py
cifar100/label-only-attacks/QEBA/attacks/iterative_projected_gradient.py
cifar100/label-only-attacks/QEBA/attacks/lbfgs.py
cifar100/label-only-attacks/QEBA/attacks/localsearch.py
cifar100/label-only-attacks/QEBA/attacks/newtonfool.py
cifar100/label-only-attacks/QEBA/attacks/pointwise.py
cifar100/label-only-attacks/QEBA/attacks/precomputed.py
cifar100/label-only-attacks/QEBA/attacks/saliency.py
cifar100/label-only-attacks/QEBA/attacks/saltandpepper.py
cifar100/label-only-attacks/QEBA/attacks/slsqp.py
cifar100/label-only-attacks/QEBA/attacks/sparsefool.py
cifar100/label-only-attacks/QEBA/attacks/spatial.py
cifar100/label-only-attacks/QEBA/batch_attacks/__init__.py
cifar100/label-only-attacks/QEBA/batch_attacks/base.py
cifar100/label-only-attacks/QEBA/batch_attacks/carlini_wagner.py
cifar100/label-only-attacks/QEBA/batch_attacks/gradient.py
cifar100/label-only-attacks/QEBA/batch_attacks/iterative_projected_gradient.py
cifar100/label-only-attacks/QEBA/models/__init__.py
cifar100/label-only-attacks/QEBA/models/api_azure.py
cifar100/label-only-attacks/QEBA/models/api_faceplusplus.py
cifar100/label-only-attacks/QEBA/models/base.py
cifar100/label-only-attacks/QEBA/models/caffe.py
cifar100/label-only-attacks/QEBA/models/face_live.py
cifar100/label-only-attacks/QEBA/models/face_recog.py
cifar100/label-only-attacks/QEBA/models/keras.py
cifar100/label-only-attacks/QEBA/models/lasagne.py
cifar100/label-only-attacks/QEBA/models/mxnet_gluon.py
cifar100/label-only-attacks/QEBA/models/mxnet.py
cifar100/label-only-attacks/QEBA/models/pytorch.py
cifar100/label-only-attacks/QEBA/models/tensorflow_eager.py
cifar100/label-only-attacks/QEBA/models/tensorflow.py
cifar100/label-only-attacks/QEBA/models/theano.py
cifar100/label-only-attacks/QEBA/models/wrappers.py
cifar100/label-only-attacks/QEBA/pre_process/attack_setting.py
cifar100/label-only-attacks/QEBA/pre_process/dct_generator.py
cifar100/label-only-attacks/QEBA/pre_process/disk_mat.py
cifar100/label-only-attacks/QEBA/pre_process/pca_generator.py
cifar100/label-only-attacks/QEBA/pre_process/resize_generator.py
cifar100/label-only-attacks/QEBA/zoo/__init__.py
cifar100/label-only-attacks/QEBA/zoo/common.py
cifar100/label-only-attacks/QEBA/zoo/git_cloner.py
cifar100/label-only-attacks/QEBA/zoo/model_loader.py
cifar100/label-only-attacks/QEBA/zoo/weights_fetcher.py
cifar100/label-only-attacks/QEBA/zoo/zoo.py
cifar100/label-only-attacks/aug_attack_utils/1
cifar100/label-only-attacks/aug_attack_utils/attack_features.py
cifar100/label-only-attacks/aug_attack_utils/aug_utils.py
cifar100/label-only-attacks/cert_radius/certify.py
cifar100/label-only-attacks/cert_radius/core.py
cifar100/label-only-attacks/configs/cifar10.yml
cifar100/label-only-attacks/models/__init__.py
cifar100/label-only-attacks/models/attention.py
cifar100/label-only-attacks/models/densenet.py
cifar100/label-only-attacks/models/googlenet.py
cifar100/label-only-attacks/models/inceptionv3.py
cifar100/label-only-attacks/models/inceptionv4.py
cifar100/label-only-attacks/models/mobilenet.py
cifar100/label-only-attacks/models/mobilenetv2.py
cifar100/label-only-attacks/models/nasnet.py
cifar100/label-only-attacks/models/preact_resnet.py
cifar100/label-only-attacks/models/preactresnet.py
cifar100/label-only-attacks/models/resnet.py
cifar100/label-only-attacks/models/resnet2.py
cifar100/label-only-attacks/models/resnext.py
cifar100/label-only-attacks/models/rir.py
cifar100/label-only-attacks/models/senet.py
cifar100/label-only-attacks/models/shufflenet.py
cifar100/label-only-attacks/models/shufflenetv2.py
cifar100/label-only-attacks/models/squeezenet.py
cifar100/label-only-attacks/models/stochasticdepth.py
cifar100/label-only-attacks/models/utils.py
cifar100/label-only-attacks/models/vgg.py
cifar100/label-only-attacks/models/wideresidual.py
cifar100/label-only-attacks/models/xception.py
cifar100/label-only-attacks/trained_models/1_1_-1.pt
cifar100/label-only-attacks/trained_models11/0_0_0.pt
cifar100/label-only-attacks/trained_models11/0_1_-1.pt
cifar100/label-only-attacks/utils/__init__.py
cifar100/label-only-attacks/utils/architectures.py
cifar100/label-only-attacks/utils/ensemble_model.py
cifar100/label-only-attacks/utils/my_loader.py
cifar100/label-only-attacks/utils/Resnet.py
cifar100/label-only-attacks/utils/Rvt.py
cifar100/label-only-attacks/utils/score_based_MIA_util.py
cifar100/label-only-attacks/utils/util.py
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_0.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_1.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_2.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_3.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_4.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_5.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_6.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_7.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_8.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/diff_10_9.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/logit_dist_0_1.png
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff0/logits_for_memguard_diff0.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_0.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_1.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_2.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_3.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_4.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_5.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_6.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_7.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_8.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/diff_10_9.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/logit_dist_1_1.png
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/logit_dist.png
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/selena/diff1/iter1_path10_step100/logits_for_memguard_1.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_0.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_1.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_2.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_3.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_4.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_5.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_6.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_7.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_8.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/diff_10_9.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/logit_dist_0_1.png
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff0/logits_for_memguard_diff0.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_0.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_1.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_2.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_3.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_4.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_5.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_6.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_7.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_8.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/diff_10_9.npz
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/logit_dist_1_1.png
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/logit_dist.png
cifar100/slurm_evaluate_MIAs/data/resnet/num_sample1000/undefended/diff1/iter1_path50_step40/logits_for_memguard_1.npz
cifar100/slurm_evaluate_MIAs/results/selena
cifar100/slurm_evaluate_MIAs/results/selena_w_Diffence
cifar100/slurm_evaluate_MIAs/results/undefended
cifar100/slurm_evaluate_MIAs/results/undefended_w_Diffence
cifar100/diff_defense/diff_models/
cifar100/slurm_evaluate_MIAs/data/
cifar100/training_log/
cifar100/slurm_evaluate_MIAs/results/
